/* mutual styles */
.sidebar-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
}

.list-item {
    text-transform: uppercase;
    font-weight: 200;
    cursor: pointer;
    margin: .3rem;
    display: flex;

    .list-item-icon {
        width: 1.2rem;
    }
}

.games-list, .comics-list {
    margin-bottom: 1rem;
    text-indent: 2rem;   
}

.list-item-link {
    color: #c4abab;
}


/* component class styles */
.sidebar {
    width: 20rem;
    background-color: #281534;
    /* background-image: linear-gradient(to right, #281534, #5b247d, #8709d5); */
    color: #c4abab;
    font-size: 1.4rem;
    height: 100vh;
    font-weight: 300;
    /* position: fixed;
    top: 0;
    left: 0; */
    /* text-transform: uppercase; */
    /* margin: 0 auto; */
    padding: 2rem;

    .profile {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 3rem 0;
        margin-bottom: 1rem;

        .profile__picture {
            width: 4.5rem;
            height: 4.5rem;
            background-image: url('../assets/user.png');
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            /* border: none; */
        }

        .profile__name {
            /* text-transform: capitalize; */
        }
    }

    .add-new {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        /* background-color: #331d41; */
        border-top: .2rem solid #331d41;
        border-bottom: .2rem solid #331d41;
        padding: .3rem 0;
        cursor: pointer;

        .plus-img {
            width: 1.5rem;
            margin-left: .4rem;
        }
    }

    .collection {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-end;
        margin-bottom: 3rem;
        
        
    }
}